
@font-face{
	font-family: quentin;
	src: url("../Fonts/quentincaps.ttf") format("ttf"),/*this font is used only for headings*/
  	url("../Fonts/quentincaps.woff") format("woff"),
  	url("../Fonts/quentincaps.ttf") format("truetype");
}


@font-face{
	font-family: durango;
	src: url("../Fonts/durangowesterneroded.ttf") format("ttf"),/*this font is used in some headings but mainly used in the navbar*/
  	url("../Fonts/durangowesterneroded.woff") format("woff"),
  	url("../Fonts/durangowesterneroded.ttf") format("truetype"),
  	url("../Fonts/durangowesterneroded.otf") format("opentype");

}

@font-face{
	font-family: oldtown;
	src: url("../Fonts/OldTown.ttf") format("ttf"), /*this font is used in paragraphs*/
	url("../Fonts/OldTown.woff") format("woff"),
	url("../Fonts/OldTown.ttf") format("truetype");
}

.navbar-brand{
	font-size: 38px !important; /*using "!important" I felt was quicker way to overpower Bootstraps styling*/
	font-family: "durango";
	color: black !important;
	text-shadow: 2px 2px grey;
}

nav{
	background-image: url("../Img/Rusticwood.jpg");
	background-size: cover;
	width: 100%;

}

ul{
	font-family: "durango";
	font-size: 25px;
	text-shadow: 2px 2px black;
	color: black !important;
	margin-right: 10px;
	list-style-type: none;
}
ol{
	list-style-type: none;
}

h1{
	font-family: "quentin" !important;
	text-align: center;
	margin-bottom: 40px;
	text-shadow: 2px 2px darkgrey;
}

.WantedHeading{
	font-size: 50px !important;
	font-family: "durango";
}

#home{/*background images*/
	background-image: url("../img/Background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "quentin";
	width: 100%;
}

#about{
	background-image: url("../img/duoplayingb&w.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "quentin";
	width: 100%;
}

#media{
	background-image: url("../img/rusticwood.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "quentin";
	width: 100%;
}

#events{
	background-image: url("../img/philstretch.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "quentin";
	width: 100%;
}


#contact{
	background-image: url("../img/duopickup2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "quentin";
	width: 100%;
}

p{
	font-size: 30px;
	color: #fff;
	font-family: "oldtown";
	margin: 10px;
}

.footer{
	position: absolute;
	display: flex;
	font-size: 25px;
	font-family: "durango";
	justify-content: center;
	background-image: url("../Img/Rusticwood.jpg");
	background-size: cover;
	border-top: 2px solid black;
	text-shadow: 2px 2px black;
	color: grey;
}

.container{/*default container styling*/
	background-image:url("../Img/rusticwood.jpg");
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
	filter: opacity(.9);
}

.container1{/*Container used in about us section*/
	background-image:url("../Img/rusticwood.jpg");
	border-radius: 10px;
	background-size: cover;
	background-repeat: no-repeat;
}

.contactus{
	top: 125px;
}

button{
	margin-top: 25px !important;
	margin-bottom: 25px !important;
	box-shadow: 2px 2px black;
}

span{/*selecting the smaller sized font on the home page*/
	font-size: 25px;
}



.aboutcontainer{/*about page, header container*/
	top: 50px;
}

.aboutus0{
	margin-top: 10px;
	margin-bottom: 15px;
}

.aboutus1{
	margin-top: 0px;
	margin-bottom: 0px;
	transform: rotate( 4deg);
}

.aboutus2{
	margin-top: 0px;
	margin-bottom: 0px;
	transform: rotate( -4deg);
}

#aboutpic2{
	float: right;
	display: block;
	content: url("../Img/philsteel.jpg");
	
	width: 80%;
	border: 2px solid;
}

#aboutpic1{
	float: right;
	display: block;
	content:url("../img/stretch1.jpg"); 
	width: 80%;
	border: 2px solid;
}

.eventsmapcontainer{
	margin-top: 220px;
}

.map{
	float: right;
	display: block;
	margin: 15px;
}

#bookUsLink{
	color:rgb(255,255,255,0);
}

#Video{
	margin: 10px;
}

@media only screen and (min-width: 1920) {
	#aboutpic1{width: 60%
}

.header1{
	display: none;
}


#copyright{
	font-family: "Times New Roman";/* this allows for the copyright C to be displayed as the character wasnt supported by my custom font*/
}


